[core]
	editor = vim
[diff]
	tool = vimdiff3
[difftool]
	prompt = false
    # Be able to abort all diffs with `:cq` or `:cquit`
    trustExitCode = true
[alias]
	d = difftool
    co = checkout
    br = branch
    cm = commit
    st = status
    ps = push
    pl = pull
    last = log -1 HEAD
    rbo = rebase origin/master
    rbc = rebase --continue
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[mergetool]
	path = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
